{% load static %}
{% load homepage_extras %}
<!DOCTYPE html>
<html lang="en">

{% include 'homepage_css.html' %}

<body>
<!-- HEADER -->
{% include 'homepage_header.html' %}

<!-- NAVIGATION -->
{% include 'homepage_navigation.html' %}
<!-- /NAVIGATION -->

<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="">Home</a></li>
            <li class="active">Cart Details</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <form id="checkout-form" class="clearfix">

                <div class="col-md-12">
                    <div class="order-summary clearfix">
                        <div class="section-title">
                            <h3 class="title">Cart Details</h3>
                        </div>
                        <table class="shopping-cart-table table">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th></th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-center">Total</th>
                                <th class="text-right"> Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% include 'cart_info.html' %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th class="empty" colspan="3"></th>
                                <th>SUBTOTAL</th>
                                <th colspan="2" class="sub-total"> &#x9f3 {{user_cart|cart_total_price }}</th>
                            </tr>
                            <tr>
                                <th class="empty" colspan="3"></th>
                                <th>SHIPING</th>
                                <td colspan="2">Free Shipping</td>
                            </tr>
                            <tr>
                                <th class="empty" colspan="3"></th>
                                <th>TOTAL</th>
                                <th colspan="2" class="total"> &#x9f3 {{user_cart|cart_total_price }} </th>
                            </tr>
                            </tfoot>
                        </table>
                        <div class="pull-right">
                            <button class="primary-btn"> <a href="{% url 'checkout_details' %}"> Checkout </a></button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

<!--footer -->
{% include 'homepage_footer.html' %}
<!-- footer -->

{% include 'homepage_js.html' %}
</body>

</html>
