{% load homepage_extras %}


{% for cart in user_cart %}

    <tr>
        <td class="thumb"><img src="{{ cart.product.image.url }}" alt=""></td>
        <td class="details">
            <a href=""> {{ cart.product.name }}</a>
            <ul>
                <li><span>attr1: val1</span></li>
                <li><span>attr2: val2</span></li>
            </ul>
        </td>
        <td class="price text-center"><strong> &#x9f3 {{ cart.product.price }}</strong><br>
            <del class="font-weak">
                <small> &#x9f3 {{ cart.product.old_price }}</small>
            </del>
        </td>
        <td class="qty text-center">
            <div class="form">
                <div class="form-group">
                    <input class="input p_qty" type="number" value="{{ cart.quantity }}"
                           onchange="change_quantity({{ cart.product.id }},{{ forloop.counter }})">
                </div>
            </div>
        </td>
        <td class="total text-center"><strong class="primary-color cart_total_qty">
            &#x9f3 {{ cart.product.price|get_part_totoal:cart.quantity }}</strong></td>

        <td class="text-right">
            <button class="main-btn icon-btn"><i class="fa fa-close" onclick="remove_from_cart({{ cart.product.id }})"></i></button>
        </td>
    </tr>
{% endfor %}