{% load static %}
{% load homepage_extras %}


<!DOCTYPE html>
<html lang="en">

{% include 'homepage_css.html' %}

<body>
<!-- HEADER -->
{% include 'homepage_header.html' %}

<!-- NAVIGATION -->
{% include 'homepage_navigation.html' %}
<!-- /NAVIGATION -->

<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Checkout</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <form id="checkout-form" class="clearfix">
                <div class="col-md-6">
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">Billing Details</h3>
                        </div>
                        <div class="form-group">
                            <label for="first_name">First Name :</label>
                            <input class="input" type="text" name="first-name" placeholder="First Name"
                                   value= {{ request.user.profile.first_name }}>
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name :</label>
                            <input class="input" type="text" name="last-name" placeholder="Last Name"
                                   value= {{ request.user.profile.last_name }}>
                        </div>
                        <div class="form-group">
                            <label for="email">Email :</label>
                            <input class="input" type="email" name="email" placeholder="Email"
                                   value= {{ request.user.email }}>
                        </div>
                        <div class="form-group">
                            <label for="address">Address :</label>
                            <input class="input" type="text" name="address" placeholder="Address"
                                   value= {{ request.user.profile.address }}>
                        </div>
                        <div class="form-group">
                            <label for="mobile_number">mobile :</label>

                            <input class="input" type="text" name="mobile_number" placeholder="Mobile number"
                                   value= {{ request.user.profile.mobile_number }}>
                        </div>
                        <div class="form-group">
                            <div class="input-checkbox">
                                <input type="checkbox" id="register">
                                <label class="font-weak" for="register">Create Account?</label>
                                <div class="caption">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt.
                                    <p>
                                        <input class="input" type="password" name="password"
                                               placeholder="Enter Your Password">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="shiping-methods">
                        <div class="section-title">
                            <h4 class="title">Shiping Methods</h4>
                        </div>
                        <div class="input-checkbox">
                            <input type="radio" name="shipping" id="shipping-1" title="Free Shiping" value="0" checked
                                   onclick="select_shipping()">
                            <label for="shipping-1">Free Shiping - &#x9f3 0.00</label>
                            <div class="caption">
                                <p> Collect your products from our address.</p>
                            </div>
                        </div>
                        <div class="input-checkbox">
                            <input type="radio" name="shipping" id="shipping-2" title="Home Delivery" value="40"
                                   onclick="select_shipping()">
                            <label for="shipping-2">Home Delivery - &#x9f3 40.00</label>
                            <div class="caption">
                                <p> We provide home delivery , standard charges applied.</p>
                            </div>
                        </div>
                    </div>

                    <div class="payments-methods">
                        <div class="section-title">
                            <h4 class="title">Payments Methods</h4>
                        </div>
                        <div class="caption">
                            <p> Only Cash payment is supported.
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="order-summary clearfix">
                        <div class="section-title">
                            <h3 class="title">Order Review</h3>
                        </div>
                        <table class="shopping-cart-table table">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th></th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-center">Total</th>
                                <th class="text-right"></th>
                            </tr>
                            </thead>
                            <tbody id="cart_info">
                            {% include 'cart_info.html' %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th class="empty" colspan="3"></th>
                                <th>SUBTOTAL</th>
                                <th colspan="2" class="sub-total"> &#x9f3 {{ user_cart|cart_total_price }}</th>
                            </tr>
                            <tr>
                                <th class="empty" colspan="3"></th>
                                <th>SHIPING</th>
                                <td colspan="2" id="shipping_field">Free Shipping &#x9f3 0</td>
                            </tr>
                            <tr>
                                <th class="empty" colspan="3"></th>
                                <th>TOTAL</th>
                                <th colspan="2" class="total" id="total_price">
                                    &#x9f3 {{ user_cart|cart_total_price }} </th>
                            </tr>
                            </tfoot>
                        </table>
                        <div class="pull-right">
                            <button class="primary-btn" onclick="place_order({{request.user.id }})">Place Order</button>
                        </div>
                    </div>
                </div>


            </form>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

<!--footer -->
{% include 'homepage_footer.html' %}
<!-- footer -->

{% include 'homepage_js.html' %}
</body>

</html>
