{% load static %}
{% load homepage_extras %}

<!DOCTYPE html>
<html lang="en">
<!-- HEADER -->
{% include 'homepage_css.html' %}
<body>
{% include 'homepage_header.html' %}

<!-- NAVIGATION -->
{% include 'homepage_navigation.html' %}
<!-- /NAVIGATION -->

<!-- section -->
{% include 'homepage_section_1.html' %}
<!-- section -->

<!-- section -->
{% include 'homepage_section_2.html' %}

<!-- section -->
{% include 'homepage_section_3.html' %}
<!-- section -->

<!--footer -->
{% include 'homepage_footer.html' %}
<!-- footer -->
{% include 'homepage_js.html' %}
</body>
</html>

