{% load homepage_extras %}
{% for product in products_list %}

    {% if forloop.counter <= 10 %}

        <div class="product product-single">
            <div class="product-thumb">
                <div class="product-label">
                    <span>New</span>
                    <span class="sale">-20%</span>
                </div>

                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="">
                {% endif %}


            </div>
            <div class="product-body">
                <h3 class="product-price">${{ product.price }}
                    <del class="product-old-price">$45.00</del>
                </h3>

                <div class="product-rating">

                    {% for i in product.rating|getrange:0 %}
                        <i class="fa fa-star"></i>
                    {% endfor %}

                    {% for i in product.rating|getrange:5 %}
                        <i class="fa fa-star-o empty"></i>
                    {% endfor %}


                </div>


                <h2 class="product-name"><a
                        href="{% url 'product_details' product.id %}">{{ product.name }}</a>
                </h2>
                <h2 class="shop-name"><a href="#">Shop Name</a></h2>
                <div class="product-btns">
                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i>
                    </button>
                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i>
                    </button>
                    <button class="primary-btn add-to-cart" onclick="handle_add_to_cart({{ product.id }})"> <a><i
                            class="fa fa-shopping-cart"></i> Add to
                        Cart
                    </a> </button>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
