{% load homepage_extras %}


{% block homepage_navigation %}
    <!-- NAVIGATION -->
    <div id="navigation">
        <!-- container -->
        <div id="responsive-nav">
            <!-- category nav -->
            <div class="category-nav show-on-click">
                <span class="category-header">Categories<i class="fa fa-list"></i></span>
                <ul class="category-list">

                    {% for top_category_dictionary in top_category_list %}

                        <li class="dropdown side-dropdown">


                            <a class="dropdown-toggle" data-toggle="dropdown"
                               aria-expanded="true"> {{ top_category_dictionary.top_category }}<i
                                    class="fa fa-angle-right"></i></a>

                            <div class="custom-menu">
                                <div class="row">

                                    {% for super_category_dictionary in top_category_dictionary.super_category_list %}

                                        <div class="col-md-4">
                                            <ul class="list-links">

                                                <li>
                                                    <h3 class="list-links-title">{{ super_category_dictionary.super_category }} </h3>
                                                </li>


                                                {% for categorys in super_category_dictionary.category_list %}
                                                    <li class = "cat_name">
                                                        <a href="{% url 'advanced_search' categorys %}">{{ categorys }}</a>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                            <hr class="hidden-md hidden-lg">
                                        </div>

                                    {% endfor %}

                                </div>
                            </div>

                        </li>

                    {% endfor %}

                </ul>
            </div>
            <!-- /category nav -->

            <!-- menu nav -->
            <div class="menu-nav">
                <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
                <ul class="menu-list">
                    <li><a href={% url 'homepage' %}>Home</a></li>
                    {% for top_category_dictionary in top_category_list %}

                        <li class="dropdown mega-dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                               aria-expanded="true">{{ top_category_dictionary.top_category }}</a>
                            <div class="custom-menu">
                                <div class="row">

                                    {% for super_category_dictionary in top_category_dictionary.super_category_list %}

                                        <div class="col-md-4">
                                            <ul class="list-links">

                                                <li>
                                                    <h3 class="list-links-title">{{ super_category_dictionary.super_category }} </h3>
                                                </li>


                                                {% for categorys in super_category_dictionary.category_list %}
                                                    <li class = "cat_name">
                                                        <a href="{% url 'advanced_search' categorys %}">{{ categorys }}</a>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                            <hr class="hidden-md hidden-lg">
                                        </div>

                                    {% endfor %}

                                </div>
                            </div>

                        </li>

                    {% endfor %}
                </ul>
            </div>
            <!-- menu nav -->
        </div>
    </div>
    <!-- /container -->
    </div>
{% endblock %}