{% block homepage_js %}
    {% load static %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- jQuery Plugins -->

    <script src="{% static 'homepage/js/jquery.min.js' %}"></script>
    <script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'homepage/js/slick.min.js' %}"></script>
    <script src="{% static 'homepage/js/nouislider.min.js' %}"></script>
    <script src="{% static 'homepage/js/jquery.zoom.min.js' %}"></script>
    <script src="{% static 'homepage/js/main.js' %}"></script>

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>


{% endblock %}