{% load homepage_extras %}


{% block homepage_navigation %}
<div id="navigation">
    <!-- container -->
    <div class="container">
        <div id="responsive-nav">

            <!-- menu nav -->
            <div class="menu-nav">
                <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
                <ul class="menu-list">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Electronics</a></li>
                    <li><a href="#">Smartphones</a></li>
                    <li><a href="#">Watches</a></li>
                    <li><a href="#">Clothings</a></li>
                    <li><a href="#">Bags</a></li>
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#">Jwelry</a></li>
                    <li><a href="#">Sports</a></li>
                </ul>
            </div>
            <!-- menu nav -->
        </div>
    </div>
    <!-- /container -->
</div>
{% endblock %}