{% load static %}
{% load homepage_extras %}

<!DOCTYPE html>
<html lang="en">

{% include 'homepage_css.html' %}

<body>
<!-- HEADER -->
{% include 'homepage_header.html' %}

<!-- NAVIGATION -->
{% include 'homepage_navigation.html' %}
<!-- /NAVIGATION -->

<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Category</a></li>
            <li class="active">{{ product_details.name }}</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!--  Product Details -->
            <div class="product product-details clearfix">
                <div class="col-md-6">
                    <div id="product-main-view">
                        <div class="product-view">
                            <img src="{{ product_details.image.url }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-body">
                        <div class="product-label">
                            {% if product_details.old_price > 0 %}
                                <span class="sale">{{ product_details.discount }}%</span>
                            {% endif %}
                        </div>
                        <h2 class="product-name">{{ product_details.name }}</h2>
                        <h3 class="product-price">{{ product_details.price }}
                            {% if product_details.old_price > 0 %}
                                <del class="product-old-price">{{ product_details.old_price }}</del>
                            {% endif %}
                        </h3>
                        <div>
                            <div class="product-rating">
                                {% for i in product_details.rating|getrange:0 %}
                                    <i class="fa fa-star"></i>
                                {% endfor %}

                                {% for i in product_details.rating|getrange:5 %}
                                    <i class="fa fa-star-o empty"></i>
                                {% endfor %}
                            </div>
                            <a href="#">{{ review|length }} Review(s) / Add Review</a>
                        </div>
                        {% if product_details.quantity > 0 %}
                            <p><strong>Availability:</strong> In Stock</p>
                        {% else %}
                            <p><strong>Availability:</strong> Not in Stock</p>

                        {% endif %}
                        <p><strong>Brand:</strong> {{ product_details.name|get_brand }}</p>
                        <p>The product is {{ product_details.name }}</p>

                        <div class="product-btns">
                            <div class="qty-input">
                                <span class="text-uppercase">QTY: </span>
                                <input class="input" type="number" id="dqty">
                            </div>
                            <button class="primary-btn add-to-cart"
                                    onclick="handle_add_to_cart_product_details({{ product_details.id }})"><i
                                    class="fa fa-shopping-cart"></i>
                                Add to Cart
                                </a>
                            </button>
                            <div class="pull-right">
                                <button class="main-btn icon-btn" onclick="handle_add_to_wishlist({{ product_details.id }} ,1)"><i class="fa fa-heart"></i></button>
                                <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                <button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="product-tab">
                        <ul class="tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                            <li><a data-toggle="tab" href="#tab3">Condition</a></li>
                            {% include 'review_length.html' %}

                        </ul>
                        <div class="tab-content">
                            <div id="tab1" class="tab-pane fade in active">
                                <p>The product is {{ product_details.name }}.</p>
                            </div>
                            <div id="tab3" class="tab-pane fade in active">
                                <ul style="list-style-type:disc;">
                                    <li>Offer applicable for members only</li>
                                    <li>You can get the product within 3 to 5 working days after confirmation of the
                                        order
                                    </li>
                                    <li>You can collect the product from the office</li>
                                    <li>Home delivery is also available</li>
                                </ul>
                            </div>
                            <div id="tab2" class="tab-pane fade in">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="product-reviews">
                                            {% include 'single_review.html' %}
                                            <ul class="reviews-pages">
                                                <li class="active">1</li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <h4 class="text-uppercase">Write Your Review</h4>
                                        <div class="review-form">
                                            <div class="form-group">
                                                <textarea class="input" placeholder="Your review"
                                                          id="review_content"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-rating">
                                                    <strong class="text-uppercase">Your Rating: </strong>
                                                    <div class="stars">
                                                        <input type="radio" id="star5" name="rating" value="5"/><label
                                                            for="star5"></label>
                                                        <input type="radio" id="star4" name="rating" value="4"/><label
                                                            for="star4"></label>
                                                        <input type="radio" id="star3" name="rating" value="3"/><label
                                                            for="star3"></label>
                                                        <input type="radio" id="star2" name="rating" value="2"/><label
                                                            for="star2"></label>
                                                        <input type="radio" id="star1" name="rating" value="1"/><label
                                                            for="star1"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="primary-btn" onclick="calc_rating({{ product_details.id }})">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Product Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

<!--footer -->
{% include 'homepage_footer.html' %}
<!-- footer -->

{% include 'homepage_js.html' %}

</body>
</html>

