{% load homepage_extras %}


{% for cart in user_cart %}
    <div class="product product-widget">
        <div class="product-thumb">
            <img src="{{ cart.product.image.url }}" alt="">
        </div>
        <div class="product-body">
            <h3 class="product-price">{{ cart.product.price }}<span class="qty">x{{ cart.quantity }}</span></h3>
            <h2 class="product-name"><a href="#">{{ cart.product.name }}</a></h2>
        </div>
        <button class="cancel-btn"><i class="fa fa-trash"></i></button>
    </div>
{% endfor %}