{% load homepage_extras %}


{% for wish in user_wishlist %}

    <tr>
        <td class="thumb"><img src="{{ wish.product.image.url }}" alt=""></td>
        <td class="details">
            <a href=""> {{ wish.product.name }}</a>
            <ul>
                <li><span>attr1: val1</span></li>
                <li><span>attr2: val2</span></li>
            </ul>
        </td>
        <td class="price text-center"><strong> &#x9f3 {{ wish.product.price }}</strong><br>
            <del class="font-weak">
                <small> &#x9f3 {{ wish.product.old_price }}</small>
            </del>
        </td>
        <td class="product-rating">

            {% for i in wish.product.rating|getrange:0 %}
                <i class="fa fa-star"></i>
            {% endfor %}

            {% for i in wish.product.rating|getrange:5 %}
                <i class="fa fa-star-o empty"></i>
            {% endfor %}


        </td>
        {% if wish.product.quantity > 0 %}
            <td class="total text-center"><strong>
                Available </strong></td>
        {% else %}
            <td class="total text-center"><strong>
                Not available </strong></td>
        {% endif %}
        <td class="text-center" class="add-to-cart">
            <button class="main-btn icon-btn"><i class="fa fa-shopping-cart" onclick="remove_cart_from_wishlist({{ wish.product.id }})"></i></button>
        <td class="text-right">
            <button class="main-btn icon-btn"><i class="fa fa-close" onclick="handle_add_to_wishlist({{ wish.product.id }} , 0)"></i></button>
        </td>

        </td>
    </tr>
{% endfor %}