{% load static %}
{% load homepage_extras %}
<!DOCTYPE html>
<html lang="en">

{% include 'homepage_css.html' %}

<body>
<!-- HEADER -->
{% include 'homepage_header.html' %}

<!-- NAVIGATION -->
{% include 'homepage_navigation.html' %}
<!-- /NAVIGATION -->

<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="">Home</a></li>
            <li class="active">MY WISHLIST</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="order-summary clearfix">
                    <div class="section-title">
                        <h3 class="title">MY Wishlist</h3>
                    </div>
                    <table class="shopping-cart-table table">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th></th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Rating</th>
                            <th class="text-center">Stock Status</th>
                            <th class="text-center"></th>
                            <th class="text-right"></th>

                        </tr>
                        </thead>
                        <tbody id="wishlist_info">
                        {% include 'wishlist_info.html' %}
                        </tbody>
                    </table>
                    <div class="pull-right">
                        <button class="primary-btn">Remove All</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

<!--footer -->
{% include 'homepage_footer.html' %}
<!-- footer -->

{% include 'homepage_js.html' %}
</body>

</html>
